version: 2
updates:
- package-ecosystem: "gomod"
  directory: "/e2e"
  schedule:
    interval: "daily"
  commit-message:
    prefix: "ci"
    include: "scope"
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
  commit-message:
    prefix: "ci"
    include: "scope"
- package-ecosystem: "gomod"
  directory: "/rootfs/cosign"
  dependency-type: direct
  schedule:
    interval: "daily"
  commit-message:
    prefix: "build"
    include: "scope"
