[submodule "src/lima"]
	path = src/lima
	url = https://github.com/lima-vm/lima
[submodule "src/socket_vmnet"]
	path = src/socket_vmnet
	url = https://github.com/lima-vm/socket_vmnet
[submodule "src/finch-daemon"]
	path = src/finch-daemon
	url = https://github.com/runfinch/finch-daemon.git
[submodule "deps/mkosi/binfmt"]
	path = deps/mkosi/binfmt
	url = https://github.com/tonistiigi/binfmt
