name: Build

# Runs every Tuesday at 9 am UTC
on:
  schedule:
    - cron: '0 9 * * 2'
  workflow_dispatch:
  pull_request:
    branches:
      - main

env:
  GO111MODULE: on

permissions:
  # This is required for configure-aws-credentials to request an OIDC JWT ID token to access AWS resources later on.
  # More info: https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect#adding-permissions-settings
  id-token: write
  contents: read # This is required for actions/checkout

jobs:
  macos-arm64-build:
    runs-on: [self-hosted, macos, arm64, "14", release]
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 1
          submodules: recursive
          persist-credentials: false
      - name: 'Fetch submodule tags'
        run: |
          git submodule foreach --recursive git fetch --tags

      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: e2e/go.mod

      - name: Install dependencies
        # QEMU:      required by Lima itself
        # bash:      required by test-example.sh (OS version of bash is too old)
        # coreutils: required by test-example.sh for the "timeout" command
        # autoconf:  required for building vde
        # automake:  required for building vde
        # fs_usage:  built-in macOS tool used to capture opened files by limactl and qemu

        run: |
          brew update
          brew install qemu bash coreutils
          brew install autoconf automake
          brew cleanup
          brew upgrade || true
          brew link --overwrite python@3.13 || true
        shell: zsh {0}

      - name: Make and release deps
        run: |
          (cd src/lima && git clean -f -d && git am ../patches/lima/*.patch)
          make -C src/lima PREFIX=/opt/homebrew all install
          ./bin/lima-and-qemu.pl
          mv src/lima/lima-and-qemu.tar.gz src/lima/lima-and-qemu.macos-aarch64.tar.gz
        shell: zsh {0}

      - name: Upload MacOS build
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: lima-and-qemu.macos-arm64
          path: ./src/lima/lima-and-qemu.macos*
          if-no-files-found: error

      - name: Upload dependency mapping ARM64
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: dep-version-mapping-aarch64
          path: ./src/lima/dep-version-mapping-aarch64.json
          if-no-files-found: error

      - name: Make and release source code of dependencies
        run: make download-sources
      - name: Upload MacOS build
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: DependenciesSourceCode.tar.gz
          path: ./downloads/dependency-sources.tar.gz
          if-no-files-found: error

  macos-x86-build:
    runs-on: [self-hosted, macos, amd64, "14", release]
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 1
          submodules: recursive
          persist-credentials: false
      - name: 'Fetch submodule tags'
        run: |
          git submodule foreach --recursive git fetch --tags

      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: e2e/go.mod

      - name: Install dependencies
        # QEMU:      required by Lima itself
        # bash:      required by test-example.sh (OS version of bash is too old)
        # coreutils: required by test-example.sh for the "timeout" command
        # autoconf:  required for building vde
        # automake:  required for building vde
        # fs_usage:  built-in macOS tool used to capture opened files by limactl and qemu

        run: |
          brew update
          brew install qemu bash coreutils
          brew install autoconf automake
          brew cleanup
          brew upgrade || true
          brew link --overwrite python@3.13 || true
        shell: zsh {0}

      - name: Make and release deps
        run: |
          (cd src/lima && git clean -f -d && git am ../patches/lima/*.patch)
          make -C src/lima PREFIX=/usr/local all install
          ./bin/lima-and-qemu.pl
          mv src/lima/lima-and-qemu.tar.gz src/lima/lima-and-qemu.macos-x86_64.tar.gz
        shell: zsh {0}

      - name: Upload MacOS build
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: lima-and-qemu.macos-x86
          path: ./src/lima/lima-and-qemu.macos*
          if-no-files-found: error

      - name: Upload dependency mapping x86_64
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: dep-version-mapping-x86_64
          path: ./src/lima/dep-version-mapping-x86_64.json
          if-no-files-found: error

  upload-dependency-mappings:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs:
      - macos-x86-build
      - macos-arm64-build

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 1
          persist-credentials: false

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          role-to-assume: ${{ secrets.ROLE }}
          role-session-name: dependency-mapping-upload-session
          aws-region: ${{ secrets.REGION }}

      - name: Download dependency mapping ARM64
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: dep-version-mapping-aarch64
          path: build

      - name: Download dependency mapping x86_64
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: dep-version-mapping-x86_64
          path: build

      - name: Upload dependency mappings to S3
        run: |
          aws s3 cp ./build/dep-version-mapping-aarch64.json s3://${{ secrets.DEPENDENCY_BUCKET_NAME }}/aarch6/dep-version-mapping.json
          aws s3 cp ./build/dep-version-mapping-x86_64.json s3://${{ secrets.DEPENDENCY_BUCKET_NAME }}/x86-64/dep-version-mapping.json
