name: Build

# Runs every Tuesday at 9 am UTC
on:
  schedule:
    - cron: '0 9 * * 2'
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/release.yaml
      - src/lima/**
      - deps/qemu.conf
      - bin/lima-and-qemu.py

env:
  GO111MODULE: on

permissions:
  # This is required for configure-aws-credentials to request an OIDC JWT ID token to access AWS resources later on.
  # More info: https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect#adding-permissions-settings
  id-token: write
  contents: read # This is required for actions/checkout

jobs:
  macos-arm64-build:
    runs-on: [self-hosted, macos, arm64, "14", release]
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1
          submodules: recursive
          persist-credentials: false
      - name: 'Fetch submodule tags'
        run: |
          git submodule foreach --recursive git fetch --tags

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: e2e/go.mod

      - name: Install dependencies
        # QEMU:      required by Lima itself
        # bash:      required by test-example.sh (OS version of bash is too old)
        # coreutils: required by test-example.sh for the "timeout" command
        # autoconf:  required for building vde
        # automake:  required for building vde
        # fs_usage:  built-in macOS tool used to capture opened files by limactl and qemu

        run: |
          # uninstall any previous qemu installations and install pinned qemu version from qemu.conf
          brew uninstall --force qemu
          source ./deps/qemu.conf
          echo "Installing pinned qemu version: $QEMU_VERSION"
          HOMEBREW_LOCAL_REPO=$(brew --repository)/Library/Taps/homebrew/homebrew-local/Formula
          mkdir -p $HOMEBREW_LOCAL_REPO
          rm -f $HOMEBREW_LOCAL_REPO/qemu.rb
          curl -L -o $HOMEBREW_LOCAL_REPO/qemu.rb https://raw.githubusercontent.com/Homebrew/homebrew-core/${QEMU_FORMULA_GH_COMMIT}/Formula/q/qemu.rb
          brew install homebrew/local/qemu

          brew update
          brew install bash coreutils
          brew install autoconf automake
          brew upgrade
        shell: zsh {0}

      - name: Make and release deps
        run: |
          # (cd src/lima && git clean -f -d && git am ../patches/lima/*.patch)
          cd src/lima
          sudo make clean native install PREFIX=/opt/homebrew || exit 1
          echo "Installed limactl version: $(limactl --version)"
          
          cd ../../
          python3 bin/lima-and-qemu.py
          mv src/lima/lima-and-qemu.tar.gz src/lima/lima-and-qemu.macos-aarch64.tar.gz
        shell: zsh {0}

      - name: Upload MacOS build
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: github.event_name != 'pull_request'
        with:
          name: lima-and-qemu.macos-arm64
          path: ./src/lima/lima-and-qemu.macos*
          if-no-files-found: error

      - name: Upload dependency mapping ARM64
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: github.event_name != 'pull_request'
        with:
          name: dep-version-mapping-aarch64
          path: ./src/lima/dep-version-mapping-aarch64.json
          if-no-files-found: error

      - name: Make and release source code of dependencies
        if: github.event_name != 'pull_request'
        run: make download-sources
      
      - name: Upload MacOS build
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: github.event_name != 'pull_request'
        with:
          name: DependenciesSourceCode.tar.gz
          path: ./downloads/dependency-sources.tar.gz
          if-no-files-found: error

  macos-x86-build:
    runs-on: [self-hosted, macos, amd64, "14", release]
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1
          submodules: recursive
          persist-credentials: false
      - name: 'Fetch submodule tags'
        run: |
          git submodule foreach --recursive git fetch --tags

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: e2e/go.mod

      - name: Install dependencies
        # QEMU:      required by Lima itself
        # bash:      required by test-example.sh (OS version of bash is too old)
        # coreutils: required by test-example.sh for the "timeout" command
        # autoconf:  required for building vde
        # automake:  required for building vde
        # fs_usage:  built-in macOS tool used to capture opened files by limactl and qemu

        run: |
          # uninstall any previous qemu installations and install pinned qemu version from qemu.conf
          brew uninstall --force qemu
          source ./deps/qemu.conf
          echo "Installing pinned qemu version: $QEMU_VERSION"
          HOMEBREW_LOCAL_REPO=$(brew --repository)/Library/Taps/homebrew/homebrew-local/Formula
          mkdir -p $HOMEBREW_LOCAL_REPO
          rm -f $HOMEBREW_LOCAL_REPO/qemu.rb
          curl -L -o $HOMEBREW_LOCAL_REPO/qemu.rb https://raw.githubusercontent.com/Homebrew/homebrew-core/${QEMU_FORMULA_GH_COMMIT}/Formula/q/qemu.rb
          brew install homebrew/local/qemu
          
          brew update
          brew install bash coreutils
          brew install autoconf automake
          brew upgrade
        shell: zsh {0}

      - name: Make and release deps
        run: |
          # (cd src/lima && git clean -f -d && git am ../patches/lima/*.patch)
          cd src/lima
          sudo make clean native install PREFIX=/opt/homebrew || exit 1
          echo "Installed limactl version: $(limactl --version)"
          
          cd ../../
          python3 bin/lima-and-qemu.py
          mv src/lima/lima-and-qemu.tar.gz src/lima/lima-and-qemu.macos-x86_64.tar.gz
        shell: zsh {0}

      - name: Upload MacOS build
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: github.event_name != 'pull_request'
        with:
          name: lima-and-qemu.macos-x86
          path: ./src/lima/lima-and-qemu.macos*
          if-no-files-found: error

      - name: Upload dependency mapping x86_64
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: github.event_name != 'pull_request'
        with:
          name: dep-version-mapping-x86_64
          path: ./src/lima/dep-version-mapping-x86_64.json
          if-no-files-found: error

  upload-dependency-mappings:
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs:
      - macos-x86-build
      - macos-arm64-build

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1
          persist-credentials: false

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: ${{ secrets.DEPENDENCY_MAPPING_BUCKET_ROLE }}
          role-session-name: dependency-mapping-upload-session
          aws-region: ${{ secrets.DEPENDENCY_MAPPING_BUCKET_REGION }}

      - name: Download dependency mapping ARM64
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dep-version-mapping-aarch64
          path: build

      - name: Download dependency mapping x86_64
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dep-version-mapping-x86_64
          path: build

      - name: Upload dependency mappings to S3
        run: |
          aws s3 cp ./build/dep-version-mapping-aarch64.json s3://${{ secrets.DEPENDENCY_MAPPING_BUCKET_NAME }}/aarch64/dep-version-mapping.json
          aws s3 cp ./build/dep-version-mapping-x86_64.json s3://${{ secrets.DEPENDENCY_MAPPING_BUCKET_NAME }}/x86-64/dep-version-mapping.json

  release:
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs:
      - macos-x86-build
      - macos-arm64-build

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1
          persist-credentials: false

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: ${{ secrets.ROLE }}
          role-session-name: dependency-upload-session
          aws-region: ${{ secrets.REGION }}

      - name: Download MacOS ARM64 build
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: lima-and-qemu.macos-arm64
          path: build

      - name: Download MacOS x86_64 build
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: lima-and-qemu.macos-x86
          path: build


      - name: Generate Timestamp
        id: timestamp
        run: echo "value=$(date +%s)" >> $GITHUB_OUTPUT

      - name: Prepare tarballs
        run: |
          timestamp=${{ steps.timestamp.outputs.value }}

          mkdir -p build/lima-and-qemu.macos-aarch64/bin
          tar -xzf build/lima-and-qemu.macos-aarch64.tar.gz -C build/lima-and-qemu.macos-aarch64
          tar -czf build/lima-and-qemu.macos-aarch64.${timestamp}.tar.gz -C build/lima-and-qemu.macos-aarch64 .
          sha512sum build/lima-and-qemu.macos-aarch64.${timestamp}.tar.gz | cut -d " " -f 1  > build/lima-and-qemu.macos-aarch64.${timestamp}.tar.gz.sha512sum

          mkdir -p build/lima-and-qemu.macos-x86_64/bin
          tar -xzf build/lima-and-qemu.macos-x86_64.tar.gz -C build/lima-and-qemu.macos-x86_64
          tar -czf build/lima-and-qemu.macos-x86_64.${timestamp}.tar.gz -C build/lima-and-qemu.macos-x86_64 .
          sha512sum build/lima-and-qemu.macos-x86_64.${timestamp}.tar.gz | cut -d " " -f 1  > build/lima-and-qemu.macos-x86_64.${timestamp}.tar.gz.sha512sum

      - name: Download MacOS dependencies' sources
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: DependenciesSourceCode.tar.gz
          path: build

      - name: 'Upload to S3'
        run: |
          timestamp=${{ steps.timestamp.outputs.value }}

          aws s3 cp ./build/ s3://${{ secrets.DEPENDENCY_BUCKET_NAME }}/aarch64/ --recursive --exclude "*" --include "lima-and-qemu.macos-aarch64.${timestamp}.tar.gz*"
          aws s3 cp ./build/ s3://${{ secrets.DEPENDENCY_BUCKET_NAME }}/x86-64/ --recursive --exclude "*" --include "lima-and-qemu.macos-x86_64.${timestamp}.tar.gz*" 
          aws s3 cp ./build/ s3://${{ secrets.DEPENDENCY_BUCKET_NAME }} --recursive --exclude "*"  --include "dependency-sources.tar.gz"
