name: Build and Push Rootfs Docker Image

on:
  push:
    branches:
      - main
    paths:
      - 'rootfs/Dockerfile'
      - 'rootfs/cosign/go.mod'
  pull_request:
    branches:
      - main
    paths:
      - 'rootfs/Dockerfile'
      - 'rootfs/cosign/go.mod'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-rootfs-image:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # finch only supports amd64 for windows
        arch: ['amd64']

    outputs:
      timestamp: ${{ steps.vars.outputs.timestamp }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          sparse-checkout: |
            rootfs/
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0

      - name: Set build variables
        id: vars
        run: |
          echo "timestamp=$(date +%s)" >> $GITHUB_OUTPUT
          cosign_tag=$(cd rootfs/cosign && go list -m github.com/sigstore/cosign/v2 | cut -d " " -f 2)
          echo "cosign_version=${cosign_tag#v}" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build Image
        uses: docker/build-push-action@601a80b39c9405e50806ae38af30926f9d957c47 # v6.19.1
        with:
          context: rootfs/
          file: rootfs/Dockerfile
          platforms: linux/${{ matrix.arch }}
          push: false
          tags: finch-rootfs-image-production:intermediate
          build-args: |
            COSIGN_VERSION=${{ steps.vars.outputs.cosign_version }}
          outputs: type=docker,dest=finch-rootfs-${{ matrix.arch }}-${{ steps.vars.outputs.timestamp }}.tar

      - name: Upload container image artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: finch-rootfs-${{ matrix.arch }}-image
          path: finch-rootfs-${{ matrix.arch }}-${{ steps.vars.outputs.timestamp }}.tar
          if-no-files-found: error

  push-rootfs-image:
    if: github.repository == 'runfinch/finch-core' && github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    needs: build-rootfs-image

    permissions:
      # This is required for configure-aws-credentials to request an OIDC JWT ID token to access AWS resources later on.
      # More info: https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect#adding-permissions-settings
      id-token: write
      contents: write
      pull-requests: write

    strategy:
      matrix:
        # finch only supports amd64 for windows
        arch: ['amd64']

    env:
      TIMESTAMP: ${{ needs.build-rootfs-image.outputs.timestamp }}

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          aws-region: ${{ secrets.REGION }}
          role-to-assume: ${{ secrets.ROLE }}
          role-session-name: rootfs-ecr-image-upload-session

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1

      - name: Download container image artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: finch-rootfs-${{ matrix.arch }}-image

      - name: Load container image
        run: docker load -i finch-rootfs-${{ matrix.arch }}-${{ env.TIMESTAMP }}.tar

      - name: Tag and push container image to Amazon ECR
        run: |
          docker tag finch-rootfs-image-production:intermediate ${{ secrets.ROOTFS_IMAGE_ECR_REPOSITORY_NAME }}:${{ matrix.arch }}-${{ env.TIMESTAMP }}
          docker push ${{ secrets.ROOTFS_IMAGE_ECR_REPOSITORY_NAME }}:${{ matrix.arch }}-${{ env.TIMESTAMP }}

      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Create, Compress, and Upload Rootfs
        run: |
          docker container create --platform linux/${{ matrix.arch }} --name ${{ matrix.arch }}-rootfs finch-rootfs-image-production:intermediate
          docker container export -o finch-rootfs-production-${{ matrix.arch }}.tar ${{ matrix.arch }}-rootfs

          compressed_archive=finch-rootfs-production-${{ matrix.arch }}-${{ env.TIMESTAMP }}.tar.gz
          gzip -9 -c finch-rootfs-production-${{ matrix.arch }}.tar > $compressed_archive
          sha512_digest=$(sha512sum $compressed_archive | cut -d " " -f 1)
          echo $sha512_digest > $compressed_archive.sha512sum

          ARCHPATH="x86-64"
          ARTIFACT_KEY="X86_64"
          if [ ${{ matrix.arch }} == "arm64" ]; then
            ARCHPATH="aarch64"
            ARTIFACT_KEY="ARM64"
          fi

          # Upload tarball and shasum to S3
          aws s3 cp . s3://${{ secrets.DEPENDENCY_BUCKET_NAME }}/common/$ARCHPATH/ --recursive --exclude "*" --include "finch-rootfs-production-${{ matrix.arch }}-${{ env.TIMESTAMP }}.tar.gz*"

          cat <<EOL > deps/rootfs.conf
          ARTIFACT_BASE_URL=https://deps.runfinch.com

          ${ARTIFACT_KEY}_ARTIFACT_PATHING=common/$ARCHPATH
          ${ARTIFACT_KEY}_ARTIFACT=$compressed_archive
          ${ARTIFACT_KEY}_512_DIGEST=$sha512_digest
          EOL

      - name: Create PR
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          signoff: true
          branch: create-rootfs-${{ matrix.arch }}-${{ env.TIMESTAMP }}
          delete-branch: true
          title: 'build(deps): Update windows rootfs'
          add-paths: deps/rootfs.conf
          body: |  
            Update the rootfs for the windows platform.
