name: Sync Submodules

on:
  schedule:
    - cron: '0 9 * * 1'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
        with:
          fetch-depth: 0
          submodules: recursive
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Update sub modules
        run: |
          git submodule update --remote
          # pin submodule to a commit, https://github.com/lima-vm/lima/commit/bd7442e34ebdccb4945828a007b5d102781bea92
          # (cd src/lima && git checkout bd7442e34ebdccb4945828a007b5d102781bea92)
          (cd src/lima && git fetch --tags)
          TAG=`cd src/lima && git describe --tags $(git rev-list --tags --max-count=1)`
          echo "Pulling changes from release: $TAG"
          (cd src/lima && git checkout $TAG)

      - name: Create PR
        uses: peter-evans/create-pull-request@6d6857d36972b65feb161a90e484f2984215f83e # v6.0.5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: bump submodules
          signoff: true
          title: 'build(deps): Bump submodules'
