name: Sync Submodules

on:
  schedule:
    - cron: '0 9 * * 1'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0
          submodules: recursive
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Update sub modules
        run: |
          git submodule update --remote
          # pin submodule to a commit, https://github.com/lima-vm/lima/commit/bd7442e34ebdccb4945828a007b5d102781bea92
          # (cd src/lima && git checkout bd7442e34ebdccb4945828a007b5d102781bea92)
          (cd src/lima && git fetch --tags)
          TAG=`cd src/lima && git describe --tags $(git rev-list --tags --max-count=1)`
          echo "Pulling changes from release: $TAG"
          (cd src/lima && git checkout $TAG)

      - name: Create PR
        uses: peter-evans/create-pull-request@8867c4aba1b742c39f8d0ba35429c2dfa4b6cb20 # v7.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: bump submodules
          signoff: true
          title: 'build(deps): Bump submodules'
