name: Windows CI
on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - "src/**"
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/windows-ci.yaml
      - .gitmodules
      - deps/container-runtime-full-archive.conf
      - deps/rootfs.conf
      - lima-template/**
      - Makefile
      - Makefile.windows
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  install-dependencies:
    # This is a spot check for make install.dependencies on Windows platform.
    # Finch-core provides the core dependencies needed to run Finch such as the base OS
    # image, rootfs, and Lima bundle. Validate the mechanism used to install the core
    # dependencies works on Windows.
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
          submodules: true
      - name: Setup go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: e2e/go.mod
          cache-dependency-path: e2e/go.sum
      - name: Install platform dependencies
        run: make install.dependencies
      - name: Clean up dependencies
        run: make clean
